{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    {% if articles|length > 0 %}
    {% for article in articles %}
        <div class="m-lg-5 text-lg-center">
            <p>{{ article.creator.name }}</p>
    <h1><a class="text-decoration-none" href="{{ path('article', { id:article.id }) }}">{{ article.name }}</a></h1>
    <p>{{ article.body }}</p>
            <div class="text-info">
            <p>Created: {{ article.createdAt | date('d-m-Y \ T H:i:s') }}</p>
            {% if article.updatedAt is not null %}
                <p>Changed: {{ article.updatedAt | date('d-m-Y \ T H:i:s')}}</p>
            {% endif %}
            </div>
        </div>

        {% if article.photoFilename %}
            <div class="comment-img mr-3">
            <a href="{{ asset('uploads/photos/' ~ article.photoFilename) }}" target="_blank">
                <img src="{{ asset('uploads/photos/' ~ article.photoFilename) }}" />
            </a>
            </div>
        {% endif %}
        <hr>
    {% endfor %}
    {% elseif app.user and articles|length < 1 %}
        <h1 class="text-center noneArticle">Hello {{ app.user.name }} created new Article!!</h1>
    {% else %}
        <h1 class="text-center noneArticle">Login or Register!! And created Articles!!</h1>
    {% endif %}
{% endblock %}
