{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    {% if articles|length > 0 %}
    {% for article in articles %}
        <div class="m-lg-5 text-lg-center">
    <h1><a class="text-decoration-none" href="{{ path('article', { id:article.id }) }}">{{ article.name }}</a></h1>
    <p>{{ article.body }}</p>
            <p>{{ article.updated_at | date('d-m-Y \ T H:i:s') }}</p>
        </div>
    {% endfor %}
    {% elseif app.user and articles|length < 1 %}
        <h1 class="text-center noneArticle">Hello {{ app.user.name }} created new Article!!</h1>
    {% else %}
        <h1 class="text-center noneArticle">Login or Register!! And created Articles!!</h1>
    {% endif %}
{% endblock %}
