{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="text-center mt-lg-5">
    <h3><a class="text-decoration-none" href="{{ path('edit_article', {id:articles.id}, 'edit') }}">Update</a></h3>
    <h3><a class="text-decoration-none" href="{{ path('deleted_article', {id:articles.id}, 'deleted') }}"
           data-confirm="Вы уверены?" data-method="delete" rel="nofollow">Deleted</a></h3>
    <h1>{{ articles.name }}</h1>
    <p>{{ articles.body }}</p>
    <div class="text-info">
    <p>Created: {{ articles.createdAt | date('d-m-Y \ T H:i:s')}}</p>
    {% if articles.updatedAt %}
    <p>Changed: {{ articles.updatedAt | date('d-m-Y \ T H:i:s')}}</p>
    {% endif %}
        {% if articles.photoFilename %}
        <div class="comment-img mr-3">
            <a href="{{ asset('uploads/photos/' ~ articles.photoFilename) }}" target="_blank">
                <img src="{{ asset('uploads/photos/' ~ articles.photoFilename) }}" />
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}